.login h1 a {
  background: url(../img/Keep-Oregon-Green-Sign-Logo.svg) no-repeat top center;
  width: 320px;
  height: 225px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block; 
}

.wp-core-ui .button-primary {
  background: #4A8C23;
  border-color: #4A8C23 #4A8C23 #4A8C23;
  -webkit-box-shadow: 0 0 0 #4A8C23;
  box-shadow: 0 0 0 #4A8C23;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 0 #4A8C23,0 0 0 #4A8C23,0 0 0 #4A8C23,0 0 0 #4A8C23;
}
primary:hover {
  background: #49C5A0 !important;
  border-color: #49C5A0 !important;
  color: #fff;
}
.login .message {
  border-left: 4px solid #4A8C23;
}
